<div class="notes">
  <span class="mark">*</span> 印の付いた項目は入力必須です。
</div>
<%= email_field_block(f, :email, "メールアドレス", required: true)%>
<%= full_name_block(f, :family_name, :given_name, "氏名", required: true) %>
<%= full_name_block(f, :family_name_kana, :given_name_kana, "フリガナ", required: true) %>
