<header>
  <span class="logo-mark">BAUKIS2</span>
  <% flash.each do |key, value| %>
    <%= content_tag(:span, value, class: key) %>
  <% end %>
  <%=
    if logged_in?
      link_to "ログアウト", :staff_session, data: { turbo_method: :delete }
    else
      link_to "ログイン", :staff_login
    end
  %>
</header>