<header>
  <span class="logo-mark">BAUKIS2</span>
  <%=
    if administrator_signed_in?
      link_to "ログアウト", :destroy_administrator_session, method: :delete
    else
      link_to "ログイン", :new_administrator_session
    end
  %>
</header>
